.myTextBox-txt-top > span {
    font-size: 12px;
    font-weight: 600;
}
#star {
    color: #be0000;

}

.myTextBox-txt-internal {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 21px 0px;
    gap: 6px
}

.myTextBox-txt-internal input {
    background-color: #F4F5F6;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
    border: 0px solid rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 1px;
    outline: none;
    /* width: 330px; */
}
.myTextBox-txt-internal input:disabled {
    cursor: not-allowed;
    background-color: rgb(236, 236, 236);
    border-color: rgb(175, 175, 175);
}
.myTextBox-txt-internal input:focus {
    border-color: rgba(0, 0, 0, 0.70);
}

.myTextBox-error_internal_txt{
    margin: 0;
}

.myTextBox-error_span_txt {
    font-size: 14px;
    display: none;
    color: red;
    padding-left: 18px;
}
.myTextBox-error_msg_txt {
    display: block;
}