.Middle_Component-external{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 22px 0 22px 0;
    gap: 20px;
}
.Middle_Component-outsideContainer{
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 10px rgb(0 0 0 / 4%);
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
}