.EventsPage-external {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.status-inactive {
  color: red;
}
.status-active {
  color: green;
}
.EventsPage-add-new {
  border: 0;
  outline: 0;
  background-color: #1aabbf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 36px;
  padding-right: 15px;
}
.EventsPage-top-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.rdt_TableHeadRow {
  background-color: #ebeded !important;
  border-radius: 10px 10px 0 0;
}
.EventsPage-Datatable {
  border: 1px solid #ebeded;
  border-radius: 10px;
}
.rdt_Pagination {
  border-radius: 0 0 10px 10px;
  background-color: #ebeded !important;
}
.EventsPage-top-wrapper h1 {
  color: #5f6061;
  font-size: 25px;
}
.EventsPage-search {
  border: 0;
  border-radius: 10px;
  background: #ebeded;
  color: #5f6061;

  height: 36px;
  padding: 0 15px 0 30px;
}
.EventsPage-search:focus,
.EventsPage-search:active,
.EventsPage-search:focus-visible {
  border: 0;
  outline-style: none;
}
.EventsPage-span-search-wrap {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 12px;
}
.EventsPage-span-search-wrap span {
  position: absolute;
  left: 5px;
  color: #5f6061;
}
.wrap-all-search {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.rdt_TableRow:nth-child(even) {
  background-color: #fafafa;
}
.rdt_TableRow:nth-child(odd) {
  background-color: #fff;
}
