.OverviewPage-external {
    width: 100%;
    display: flex;
    justify-content: center;

}
.OverviewPage-internal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* width: 100%; */
}
.OverviewPage-wrapper{
    min-width: 60%;
    /* max-width: 70%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    /* background-color: lightblue; */
    padding: 50px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0px 8px 40px #00000029; 

}

.OverviewPage-top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.OverviewPage-top-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.OverviewPage-middle {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

.OverviewPage-middle-inner{
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: fit-content; */
    /* background-color: lightblue; */
    padding: 10px;
    border-radius: 10px;
    gap: 15px;
    box-shadow: 0px 8px 20px #00000029; 
}

.OverviewPage-middle-bot{
    width: 100%;
    text-align: center;
}

.OverviewPage-bot {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0px 8px 20px #00000029; 
    /* background-color: #f5f7f7; */
}

.OverviewPage-bot-inner{
    display: flex;
    flex-direction: row;
    height: min-content;
    width: 100%;
    gap: 20px;
    /* height: max-content; */
}

.OverviewPage-bot-left {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* padding: 20px; */
    border-radius: 10px;
    /* gap: 15px; */
    /* box-shadow: 0px 8px 40px #00000029; */
    background-color: #f5f7f7;
    height: max-content;
}

.OverviewPage-bot-right{
    /* min-width: 200px; */
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 5px;
    border-radius: 10px;
    gap: 15px;
    /* box-shadow: 0px 8px 40px #00000029; */
    /* background-color: black; */
    background-color: #f5f7f7;
    overflow-y: hidden;
    overflow: auto;

}

.OverviewPage-bot-right-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: 20px;
}

.OverviewPage-bot-right-item-txt{
    color: black;
}

.OverviewPage-bot-right-item-dash{
    color: #1aabbf;
	transition: border-color 0.15s ease-out;
}

.OverviewPage-bot-right-item-clicked{
    /* color: #1abf6c; */
}

.OverviewPage-bot-right-item:hover{
    /* opacity: 0.6; */
    cursor: pointer;
}
.OverviewPage-bot-right-item:hover .OverviewPage-bot-right-item-dash, .OverviewPage-bot-right-item:hover .OverviewPage-bot-right-item-line::after, .OverviewPage-bot-right-item:hover .OverviewPage-bot-right-item-line::before {
    color: #29f890;
    border-color: #29f890;

}

.OverviewPage-bot-right-item-clicked .OverviewPage-bot-right-item-dash, .OverviewPage-bot-right-item-clicked .OverviewPage-bot-right-item-line::after, .OverviewPage-bot-right-item-clicked .OverviewPage-bot-right-item-line::before {
    color: #29f890;
    border-color: #29f890;

}

@media only screen and (max-width: 738px) {
    .OverviewPage-top-div .MySelectBox-external{
        width: 100%;
    display: flex;
    justify-content: center;
    }
    .OverviewPage-top-div{
        flex-direction: column;
        justify-content: center;
    }
    .OverviewPage-middle{
        flex-direction: column;
        align-items: center;
    }
    .OverviewPage-wrapper{
        padding: 25px;
        margin: 5px;
    }
    .OverviewPage-bot-inner{
        flex-direction: column;
    }
    .OverviewPage-bot{
        padding: 20px;
    }
    .OverviewPage-bot-right{
    padding: 20px;
        
    }

    /* for the line animation */
    .OverviewPage-bot-right-item .OverviewPage-bot-right-item-line:before{
        right: 50% !important;
    }
    .OverviewPage-bot-right{
        max-height: unset !important;
    }
}


/* for the line animation */
.OverviewPage-bot-right-item{
	transform: translatey(0px);
}

.OverviewPage-bot-right-item  > .OverviewPage-bot-right-item-line:after{
	content:'';
	position: absolute;
	bottom:0;
	left: 50%;
	width: 20px;
	height: 0;
	
	border: 1px solid #1aabbf;
	border-left: none;
	border-top: none;
    border-right: none;

    transition: height 0.15s ease-out, width 0.15s ease-out 0.15s, border-color 0.50s ease-out;
}

.OverviewPage-bot-right-item:hover .OverviewPage-bot-right-item-line:after{
	width: calc(50% - 1px);
	height: calc(100% - 2px);
	transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.OverviewPage-bot-right-item-clicked .OverviewPage-bot-right-item-line:after{
	width: calc(50% - 1px);
	height: calc(100% - 2px);
	transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.OverviewPage-bot-right-item .OverviewPage-bot-right-item-line:before{
	content:'';
	position: absolute;
	bottom:0;
	right: 32%;
	width: 20px;
	height: 0;
	
	border: 1px solid #1aabbf;
	border-right: none;
	border-top: none;
    border-left: none;
	
	transition: height 0.15s ease-out, width 0.15s ease-out 0.15s, border-color 0.50s ease-out;
}

.OverviewPage-bot-right-item:hover .OverviewPage-bot-right-item-line:before{
	width: calc(50% - 1px);
	height: calc(100% - 2px);
	transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.OverviewPage-bot-right-item-clicked .OverviewPage-bot-right-item-line:before{
	width: calc(50% - 1px);
	height: calc(100% - 2px);
	transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.OverviewPage-bot-right-item-top {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.OverviewPage-bot-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.OverviewPage-bot-top span{
    font-size: 18px;
}

.OverviewPage-bot-radios{
    display: flex;
    flex-direction: row;
}

.OverviewPage-bot-radios-item input {
    opacity: 0;
    position: fixed;
    width: 0;
    margin: 0;
    padding: 0;
}
.OverviewPage-bot-radios-item label {
    cursor: pointer;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #c9c9c900;/* change this */
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-size: 18px;
    /* font-weight: bold; */
    color: #000000;
}
.OverviewPage-bot-radios-item input:checked + label {
    border-color: #1aabbf;
    /* border-color: #007281; */
}
.OverviewPage-bot-radios-item label:hover {
    opacity: 0.6;
}

@media only screen and (max-width: 440px) {
    .OverviewPage-bot-top{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}