.EventPage-PopupSuccess-internal {
    position: relative;
    max-width: 30%;
    min-width: 437px;
    max-height: 70vh;
    min-height: 40vh;
    height: auto;
    margin: 0 auto;
    margin-top: calc(100vh - 85vh - 20px);
    background: #FFFFFF;
    box-shadow: 0px 4px 60px 30px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 30px;
    border: none;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.EventPage-PopupSuccess-internal-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
}

.EventPage-PopupSuccess-internal-items-bot {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 5px;
}

.EventPage-PopupSuccess-internal-title {
    font-size: 28px;
}

.EventPage-PopupSuccess-internal-items-bot-inner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.EventPage-PopupSuccess-internal-items-bot-inner-item{
    display: flex;
}

.EventPage-PopupSuccess-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: 50%;
    justify-content: end;
    text-align: center;
    font-weight: 300;
line-height: 20px;
text-decoration-line: underline;
}

.EventPage-PopupSuccess-internal-items-qr {
    width: 130px;
    height: 130px;
    background-color: blue;
}

@media only screen and (max-width: 520px){
    .EventPage-PopupSuccess-internal-items-bot-inner{
        flex-direction: column;
        justify-content: unset;
    }
    .EventPage-PopupSuccess-internal-items-bot{
        width: unset;
    }
    
    .EventPage-PopupSuccess-internal{
        min-width: max-content;
    }
}