.HomeTopFilters-TopFilters-external {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px -1px 12px 10px rgb(0 0 0 / 4%);
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1090px;
  padding: 15px 0;
  gap: 20px;
}

@media only screen and (max-width: 1015px) {
  .HomeTopFilters-TopFilters-external {
    flex-direction: column;
  }
}
.MyFilter-txt-outter span.material-icons-outlined {
  cursor: pointer;
}
